<!DOCTYPE html>
<html lang="en">

<%
require 'rest-client'
require 'json'

summoner_hash = JSON.parse(RestClient::Request.execute(:url => "https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/#{summonername}?api_key=#{$API_KEY}", :method => :get, :verify_ssl => false))
summoner_id = summoner_hash.values.first["id"]

summoner_masteries = JSON.parse(RestClient::Request.execute(:url => "https://na.api.pvp.net/championmastery/location/#{region}/player/#{summoner_id}/champions?api_key=#{$API_KEY}", :method => :get, :verify_ssl => false))
champion_data = JSON.parse(RestClient::Request.execute(:url => "https://global.api.pvp.net/api/lol/static-data/na/v1.2/champion?api_key=#{$API_KEY}", :method => :get, :verify_ssl => false))["data"].values

champion_data_by_id = {}
champion_data.each do |champion|
  champion_data_by_id[champion["id"]] = champion["name"]
end

champion_pool = []

summoner_masteries.each do |entry|
  if entry["championLevel"] > 3
    champion_pool.push(champion_data_by_id[entry["championId"]])
  end
end

champion_pool = champion_pool.slice(0,3)
%>

<body>
  <section id="portfolio">
    <div class="container" style="padding-top:50px;">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-12 portfolio-item">
            <div class="col-lg-12 text-center">
              <h2>Select Another Summoner?</h2>
            </div>
            <%= erb :select_a_summoner %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 portfolio-item">
            Recommendation Text Goes Here
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-sm-12 portfolio-item">
          Selected Hero(s) Go Here<br/>
          <div width="100%" align="center">
            <% champion_pool.each do |champion| %>
            <input type="radio" id="<%=champion%>" name="selected_champion" value="<%=champion%>" checked>
              <label for="<%=champion%>"><%=champion%></label>
            <% end %>
          <br/>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
