<!DOCTYPE html>
<html lang="en">

<%
require './lib/donger_rest'
require './lib/donger_graph'

graph = DongerGraph.new()
mastery_data = graph.get_mastery(summonername)["data"]
if mastery_data.length == 0
  summoner = DongerRest.get_summoners([summonername]).values[0]
  id = summoner["id"]
  masteries = DongerRest.get_masteries(id)
  raise "No Masteries" if masteries.length == 0
  graph.add_summoner(id, summonername)
  masteries.each do |mastery|
    graph.add_mastery(id, mastery["championId"], mastery["championPoints"])
  end
end

recommendation = graph.recommend(summonername)["data"]
champion_pool = recommendation.map{|row| row[0]["data"]["name"]}
%>

<body>
  <section id="portfolio">
    <div class="container" style="padding-top:50px;">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-12 portfolio-item">
            <div class="col-lg-12 text-center">
              <h2>Select Another Summoner?</h2>
            </div>
            <%= erb :select_a_summoner %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 portfolio-item">
            Recommendation Text Goes Here
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-sm-12 portfolio-item">
          Selected Hero(s) Go Here<br/>
          <div width="100%" align="center">
            <% champion_pool.each do |champion| %>
            <input type="radio" id="<%=champion%>" name="selected_champion" value="<%=champion%>" checked>
              <label for="<%=champion%>"><%=champion%></label>
            <% end %>
          <br/>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
