<!DOCTYPE html>
<html lang="en">

<%
require './lib/donger_rest'
require './lib/donger_graph'

graph = DongerGraph.new()
mastery_data = graph.get_mastery(summonername)["data"]

summoner = DongerRest.get_summoners([summonername]).values[0]
id = summoner["id"]
masteries = DongerRest.get_masteries(id)
raise "No Masteries" if masteries.length == 0

if mastery_data.length == 0
  graph.add_summoner(id, summonername)
  masteries.each do |mastery|
    graph.add_mastery(id, mastery["championId"], mastery["championPoints"])
  end
end

recommendation = graph.get_popular_picks(summonername)["data"]
champion_pool = recommendation.map{|row| row[0]["data"]["name"]}

attributes = graph.get_attributes(summonername)["data"]
uniqueness = graph.get_uniqueness(summonername)["data"]

unique-hash = Hash.new

uniqueness.each do |champion-played|
  unique-hash[champion-played[0]] = champion-played[1]
end
%>

<body onLoad="setQuote('Just as I hypothesized!')">
  <section id="portfolio">
    <div class="container" style="padding-top:100px;">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9" style="padding-bottom:20px;text-align:center;">
          <h2> Have you considered trying...</h2>
        </div>
      </div>
      <div class="col-lg-3" align="center">
        <h2 style="font-size:1.7em;"><%=summonername%></h2>
        <p>Title</p>
        <div class="col-md-12">
          <hr>
          <p style="text-decoration:underline;">Top Masteries</p>
          <%= unique-hash%>
          <%masteries.each do |mastery|%>
            <div class="row">
              <div class="col-md-4">
                <p title="Mastery Level" style="margin-bottom:0px;color:#2E79D4;text-shadow: -1px 0 #0B2541, 0 1px #0B2541, 1px 0 #0B2541, 0 -1px #0B2541;"><%=mastery["championLevel"]%></p>
                <p title="Total Mastery Points" style="font-size:10px;"><%=mastery["championPoints"]%></p>
              </div>
              <div class="col-md-8">
                <p><%=DongerRest.get_champion_name(mastery["championId"])%><p>
              </div>
            </div>
          <%end%>
          <hr>
        </div>
        <div>
          <p style="text-decoration:underline;">Patterns We Found</p>
          <p><%=attributes%></p>
        </div>
      </div>
      <% champion_pool.each do |champion| %>
      <div class="col-lg-3" align="center">
        <h3><%=champion%></h3>
        <% skin_key = DongerRest.get_champion_skin_key(champion) %>
        <img title="<%=champion%>" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/<%=skin_key%>_0.jpg" style="max-width:100%;position:relative;"</img>
        <div class="row" style="padding-top:20px;padding-left:10px;padding-right:10px;">
          <% champion_passive = DongerRest.get_passive(champion)%>
          <div class="col-sm-3" align="center" style="padding-left:0px;padding-right:0px;">
            <img title="<%=champion_passive["description"]%>" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/passive/<%=champion_passive["image"]%>" style="max-width:80%;position:relative;">
          </div>
          <% DongerRest.get_champion_skills(champion).each do |spell| %>
          <div class="col-sm-3" align="center" style="padding-left:0px;padding-right:0px;">
            <img title="<%=spell["description"]%>" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/spell/<%=spell["image"]%>" style="max-width:80%;position:relative;">
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</body>
</html>
